---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/members/house/CO/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<YOUR PROPUBLICA KEY HERE>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 6bcd4314-cbea-11e8-9eb7-b726c2d57408
      X-Amz-Apigw-Id:
      - OgkymEtiIAMF1uA=
    body:
      encoding: UTF-8
      string: |
        {
           "status":"OK",
           "copyright":"Copyright (c) 2018 Pro Publica Inc. All Rights Reserved.",
           "results":[
              {
                 "id": "D000197",
                 "name": "Diana DeGette",
                 "first_name": "Diana",
                 "middle_name": null,
                 "last_name": "DeGette",
                 "suffix": null,
                 "role": "Representative",
                 "gender": "F",
                 "party": "D",
                 "times_topics_url": null,
                 "twitter_id": "RepDianaDeGette",
                 "facebook_account": "DianaDeGette",
                 "youtube_id": "RepDianaDeGette",
                 "seniority": "22",
                 "next_election": "2018",
                 "api_uri": "https://api.propublica.org/congress/v1/members/D000197.json",
                 "district": "1",
                 "at_large": false
              },
              {
                 "id": "P000598",
                 "name": "Jared Polis",
                 "first_name": "Jared",
                 "middle_name": null,
                 "last_name": "Polis",
                 "suffix": null,
                 "role": "Representative",
                 "gender": "M",
                 "party": "D",
                 "times_topics_url": null,
                 "twitter_id": "JaredPolis",
                 "facebook_account": "jare[...]
[...]
